<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.skip.www.dao.face.AdminDao">

	<resultMap type="com.skip.www.dto.Exhibition" id="Exhibition">
		<id 	column="ex_no" 				property="exNo"/>
		<result column="ex_regdate" 		property="exRegDate"/>
		<result column="ex_title" 			property="exTitle"/>
		<result column="ex_address" 		property="exAddress"/>
		<result column="ex_content" 		property="exContent"/>
		<result column="ex_startDay" 		property="exStartDay"/>
		<result column="ex_endDay" 			property="exEndDay"/>
		<result column="ex_reserveStartDay" property="exReserveStartDay"/>
		<result column="ex_reserveEndDay" 	property="exReserveEndDay"/>
		<result column="ex_enterStartTime" 	property="exEnterStartTime"/>
		<result column="ex_enterEndTime" 	property="exEnterEndTime"/>
		<result column="ex_price" 			property="exPrice"/>
		<result column="ex_activate" 		property="exActivate"/>
		<result column="admin_id" 			property="adminId"/>
	</resultMap>

	<resultMap type="com.skip.www.dto.Concert" id="Concert">
		<id 	column="con_no" 					property="conNo"/>
		<result column="con_regdate" 				property="conRegDate"/>
		<result column="con_title" 					property="conTitle"/>
		<result column="con_address" 				property="conAddress"/>
		<result column="con_content" 				property="conContent"/>
		<result column="con_startday" 				property="conStartDay"/>
		<result column="con_endday" 				property="conEndDay"/>
		<result column="con_reserveStartdayVIP" 	property="conReserveStartdayVIP"/>
		<result column="con_reserveStartday" 		property="conReserveStartDay"/>
		<result column="con_reserveEndday" 			property="conReserveEndDay"/>
		<result column="con_activate" 				property="conActivate"/>
		<result column="admin_id" 					property="adminId"/>
	</resultMap>

	<!-- 관리자 -->
	<select id="selectCntAdmin" resultType="int" parameterType="com.skip.www.dto.Admin">
			SELECT count(*) FROM admin_tb
			WHERE admin_id = #{adminId} AND admin_pw = #{adminPw}
	</select>

	<select id="selectCntById" resultType="int" parameterType="com.skip.www.dto.Admin">
			SELECT count(*) FROM admin_tb
			WHERE admin_id = #{adminId}
	</select>

	<insert id="insert" parameterType="com.skip.www.dto.Admin">
			INSERT INTO admin_tb(admin_id, admin_pw)
			VALUES ( #{adminId}, #{adminPw})
	</insert>

	<update id="update">
	UPDATE admin_tb
	SET admin_pw = #{adminPw}
	WHERE admin_id = #{adminId}
	</update>
	
	<select id="selectAdminAuth" resultType="int" parameterType="string">
			SELECT  COUNT(*)
			FROM AUTH 
			WHERE ADMIN_AUTH = #{adminAuth}
	</select>


	<!-- 전시 -->
	<select id="selectExhibitionList" resultMap="Exhibition" parameterType="com.skip.www.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
			
				SELECT
					ex_no
					, ex_regdate
					, ex_title
					, ex_address
					, ex_content
					, ex_startDay
					, ex_endDay
					, ex_reserveStartDay
					, ex_reserveEndDay
					, ex_enterStartTime
					, ex_enterEndTime
					, ex_price
					, ex_activate
					, admin_id
				FROM Exhibition
				WHERE ex_title LIKE '%' || #{search} || '%' 
				ORDER BY ex_no DESC
				
			) B
		) EXHIBITION
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectExhibitionCntAll" resultType="int">
		SELECT count(*) FROM Exhibition
		WHERE ex_title LIKE '%' || #{search} || '%' 
	</select>
	
	<select id="selectExhibition" resultMap="Exhibition" parameterType="com.skip.www.dto.Exhibition">
		SELECT
			ex_no
			, ex_regdate
			, ex_title
			, ex_address
			, ex_content
			, ex_startDay
			, ex_endDay
			, ex_reserveStartDay
			, ex_reserveEndDay
			, ex_enterStartTime
			, ex_enterEndTime
			, ex_price
			, ex_activate
			, admin_id
			FROM Exhibition
		WHERE ex_no = #{exNo}
	</select>
	
	<insert id="insertExhibition" parameterType="com.skip.www.dto.Exhibition">
		<selectKey order="BEFORE" resultType="int" keyProperty="exNo">
			SELECT ex_no_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO Exhibition ( 
			ex_no
			, ex_title
			, ex_address
			, ex_content
			, ex_startDay
			, ex_endDay
			, ex_reserveStartDay
			, ex_reserveEndDay
			, ex_enterStartTime
			, ex_enterEndTime
			, ex_price
			, admin_id
		)
		VALUES ( 
			#{exNo}
			, #{exTitle}
			, #{exAddress}
			, #{exContent}
			, to_date(#{exStartDayString}, 'YYYY-MM-DD')
			, to_date(#{exEndDayString}, 'YYYY-MM-DD')
			, to_date(#{exReserveStartDayString}, 'YYYY-MM-DD')
			, to_date(#{exReserveEndDayString}, 'YYYY-MM-DD')
			, to_date(#{exEnterStartTimeString}, 'HH24:MI:SS')
			, to_date(#{exEnterEndTimeString}, 'HH24:MI:SS')
			, #{exPrice}
			, #{adminId}
		)
	</insert>
	
	<update id="updateExhibition" parameterType="com.skip.www.dto.Exhibition"> 
		UPDATE Exhibition
		SET ex_no = #{exNo}
			, ex_title = #{exTitle}
			, ex_address = #{exAddress}
			, ex_content = #{exContent}
			, ex_startDay = to_date(#{exStartDayString}, 'YYYY-MM-DD')
			, ex_endDay = to_date(#{exEndDayString}, 'YYYY-MM-DD')
			, ex_reserveStartDay = to_date(#{exReserveStartDayString}, 'YYYY-MM-DD')
			, ex_reserveEndDay = to_date(#{exReserveEndDayString}, 'YYYY-MM-DD')
			, ex_enterStartTime = to_date(#{exEnterStartTimeString}, 'HH24:MI:SS')
			, ex_enterEndTime = to_date(#{exEnterEndTimeString}, 'HH24:MI:SS')
			, ex_price = #{exPrice}
			, admin_id = #{adminId}
		WHERE ex_no = #{exNo}
	</update>

	<delete id="deleteExhibition" parameterType="com.skip.www.dto.Exhibition">
		DELETE Exhibition
		WHERE ex_no = #{exNo}
	</delete>


	<select id="selectExImgByExNo" resultType="com.skip.www.dto.ExImg" parameterType="com.skip.www.dto.Exhibition">
		SELECT
			ex_img_no
			, ex_img_originName
			, ex_img_storedName
			, ex_no
		FROM ex_img
		WHERE ex_no = #{exNo}
	</select>
	
	<select id="selectExImgByExImgNo" resultType="com.skip.www.dto.ExImg" parameterType="com.skip.www.dto.ExImg">
		SELECT
			ex_img_no
			, ex_img_originName
			, ex_img_storedName
			, ex_no
		FROM ex_img
		WHERE ex_img_no = #{exImgNo}
	</select>
	
	<insert id="insertExImg" parameterType="com.skip.www.dto.ExImg">
		INSERT INTO ex_img ( 
			ex_img_no
			, ex_img_originName
			, ex_img_storedName
			, ex_no
		)
		VALUES ( 
			ex_img_no_seq.nextval
			, #{exImgOriginName}
			, #{exImgStoredName}
			, #{exNo} 
		)
	</insert>
	
	<delete id="deleteExImg" parameterType="com.skip.www.dto.Exhibition">
		DELETE ex_img
		WHERE ex_no = #{exNo}
	</delete>
	
	<update id="activateExhibition" parameterType="com.skip.www.dto.Exhibition">
		UPDATE Exhibition
		SET ex_activate = 1
		WHERE ex_no = #{exNo}
	</update>
	
	<update id="unactivateExhibition" parameterType="com.skip.www.dto.Exhibition">
		UPDATE Exhibition
		SET ex_activate = 0
		WHERE ex_no = #{exNo}
	</update>

	
	<!-- 공연 -->
	<select id="selectConcertList" resultMap="Concert" parameterType="com.skip.www.util.Paging">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
			
				SELECT
					con_no
					, con_regdate
					, con_title
					, con_address
					, con_content
					, con_startday
					, con_endday
					, con_reserveStartdayVIP
					, con_reserveStartday
					, con_reserveEndday
					, con_activate
					, admin_id
				FROM Concert
				WHERE con_title LIKE '%' || #{search} || '%' 
				ORDER BY con_no DESC
				
			) B
		) CONCERT
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectConcertCntAll" resultType="int">
		SELECT count(*) FROM Concert
		WHERE con_title LIKE '%' || #{search} || '%' 
	</select>
	
	<select id="selectConcert" resultMap="Concert" parameterType="com.skip.www.dto.Concert">
		SELECT
			con_no
			, con_regdate
			, con_title
			, con_address
			, con_content
			, con_startDay
			, con_endDay
			, con_reserveStartdayVIP
			, con_reserveStartDay
			, con_reserveEndDay
			, con_activate
			, admin_id
			FROM Concert
		WHERE con_no = #{conNo}
	</select>
	
	<insert id="insertConcert" parameterType="com.skip.www.dto.Concert">
		<selectKey order="BEFORE" resultType="int" keyProperty="conNo">
			SELECT con_no_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO Concert ( 
			con_no
			, con_title
			, con_address
			, con_content
			, con_startDay
			, con_endDay
			, con_reserveStartdayVIP
			, con_reserveStartDay
			, con_reserveEndDay
			, admin_id
		)
		VALUES ( 
			#{conNo}
			, #{conTitle}
			, #{conAddress}
			, #{conContent}
			, to_date(#{conStartDayString}, 'YYYY-MM-DD')
			, to_date(#{conEndDayString}, 'YYYY-MM-DD')
			, to_date(#{conReserveStartdayVIPString}, 'YYYY-MM-DD')
			, to_date(#{conReserveStartDayString}, 'YYYY-MM-DD')
			, to_date(#{conReserveEndDayString}, 'YYYY-MM-DD')
			, #{adminId}
		)
	</insert>
	
	<update id="updateConcert" parameterType="com.skip.www.dto.Concert">
		UPDATE Concert
		SET con_no = #{conNo}
			, con_title = #{conTitle}
			, con_address = #{conAddress}
			, con_content = #{conContent}
			, con_startDay = to_date(#{conStartDayString}, 'YYYY-MM-DD')
			, con_endDay = to_date(#{conEndDayString}, 'YYYY-MM-DD')
			, con_reserveStartdayVIP = to_date(#{conReserveStartdayVIPString}, 'YYYY-MM-DD')
			, con_reserveStartDay = to_date(#{conReserveStartDayString}, 'YYYY-MM-DD')
			, con_reserveEndDay = to_date(#{conReserveEndDayString}, 'YYYY-MM-DD')
			, admin_id = #{adminId}
		WHERE con_no = #{conNo}
	</update>

	<delete id="deleteConcert" parameterType="com.skip.www.dto.Concert">
		DELETE Concert
		WHERE con_no = #{conNo}
	</delete>

	<update id="activateConcert" parameterType="com.skip.www.dto.Concert">
		UPDATE Concert
		SET con_activate = 1
		WHERE con_no = #{conNo}
	</update>
	
	<update id="unactivateConcert" parameterType="com.skip.www.dto.Concert">
		UPDATE Concert
		SET con_activate = 0
		WHERE con_no = #{conNo}
	</update>


	<select id="selectConImgByConNo" resultType="com.skip.www.dto.ConImg" parameterType="com.skip.www.dto.Concert">
		SELECT
			con_img_no
			, con_img_originName
			, con_img_storedName
			, con_no
		FROM con_img
		WHERE con_no = #{conNo}
	</select>
	
	<select id="selectConImgByConImgNo" resultType="com.skip.www.dto.ConImg" parameterType="com.skip.www.dto.ConImg">
		SELECT
			con_img_no
			, con_img_originName
			, con_img_storedName
			, con_no
		FROM con_img
		WHERE con_img_no = #{conImgNo}
	</select>

	<insert id="insertConImg" parameterType="com.skip.www.dto.ConImg">
		INSERT INTO con_img ( 
			con_img_no
			, con_img_originName
			, con_img_storedName
			, con_no
		)
		VALUES ( 
			con_img_no_seq.nextval
			, #{conImgOriginName}
			, #{conImgStoredName}
			, #{conNo} 
		)
	</insert>
	
	<delete id="deleteConImg" parameterType="com.skip.www.dto.Concert">
		DELETE con_img
		WHERE con_no = #{conNo}
	</delete>
		
	
	<select id="selectConSeatImgByConNo" resultType="com.skip.www.dto.ConSeatImg" parameterType="com.skip.www.dto.Concert">
		SELECT
			con_seatimg_no
			, con_seatimg_originName
			, con_seatimg_storedName
			, con_no
		FROM con_seatimg
		WHERE con_no = #{conNo}
	</select>
	
	<select id="selectConSeatImgByConSeatImgNo" resultType="com.skip.www.dto.ConSeatImg" parameterType="com.skip.www.dto.ConSeatImg">
		SELECT
			con_seatimg_no
			, con_seatimg_originName
			, con_seatimg_storedName
			, con_no
		FROM con_seatimg
		WHERE con_seatimg_no = #{conSeatImgNo}
	</select>
	
	<insert id="insertConSeatImg" parameterType="com.skip.www.dto.ConSeatImg">
		INSERT INTO con_seatimg ( 
			con_seatimg_no
			, con_seatimg_originName
			, con_seatimg_storedName
			, con_no
		)
		VALUES ( 
			con_seatimg_no_seq.nextval
			, #{conSeatImgOriginName}
			, #{conSeatImgStoredName}
			, #{conNo} 
		)
	</insert>
	
	<delete id="deleteConSeatImg" parameterType="com.skip.www.dto.Concert">
		DELETE con_seatimg
		WHERE con_no = #{conNo}
	</delete>

		
	<select id="selectConRoundByConNo" resultType="com.skip.www.dto.ConRound" parameterType="com.skip.www.dto.Concert">
		SELECT
			con_round_no
			, con_round
			, con_round_starttime
			, con_round_endtime
			, con_no
		FROM con_round
		WHERE con_no = #{conNo}
	</select>
	

</mapper>