<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.skip.www.dao.face.AdminDao">

	<select id="selectCntAdmin" resultType="int" parameterType="com.skip.www.dto.Admin">
			SELECT count(*) FROM admin_tb
			WHERE admin_id = #{adminId} AND admin_pw = #{adminPw}
	</select>

	<select id="selectCntById" resultType="int" parameterType="com.skip.www.dto.Admin">
			SELECT count(*) FROM admin_tb
			WHERE admin_id = #{adminId}
	</select>

	<insert id="insert" parameterType="com.skip.www.dto.Admin">
			INSERT INTO admin_tb(admin_id, admin_pw)
			VALUES ( #{adminId}, #{adminPw})
	</insert>

	<update id="update">
	UPDATE admin_tb
	SET admin_pw = #{adminPw}
	WHERE admin_id = #{adminId}
	</update>
	
	<select id="selectAdminAuth" resultType="int" parameterType="string">
			SELECT  COUNT(*)
			FROM AUTH 
			WHERE ADMIN_AUTH = #{adminAuth}
	</select>


</mapper>