<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.skip.www.dao.face.MyexorderDao">

	

	<select id="selectCntAll" parameterType="int" resultType="int">
		SELECT count(*)  FROM ex_order_ticket E, bill B
			WHERE  E.order_no =B.order_no
			AND B.user_no =#{userNo}
	</select>
	
	<select id="selectexList" parameterType="com.skip.www.util.Paging" resultType="com.skip.www.dto.ExOrderTicket">
		SELECT e.ex_title, e.ex_no, b.order_date, b.order_status, ei.ex_img_storedname, b.order_no, eot.ex_order_date, eot.ex_order_count 
			FROM exhibition e, bill b, ex_img ei, ex_order_ticket eot
			WHERE  e.ex_no = ei.ex_no
            AND e.ex_no = eot.ex_no
			AND b.order_no = eot.order_no
			AND b.user_no =#{userNo}
	</select>

	
</mapper>


