<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.skip.www.dao.face.MyexorderDao">

	

	<select id="selectCntAll" parameterType="int" resultType="int">
		SELECT count(*)  FROM ex_order_ticket E, bill B
			WHERE  E.order_no =B.order_no
			AND B.user_no =#{userNo}
	</select>
	
	<select id="selectexList" parameterType="com.skip.www.util.Paging" resultType="com.skip.www.dto.ExOrderTicket">
		 SELECT E.ex_order_ticket_no, E.order_no, E.ex_order_count,E.ex_no FROM ex_order_ticket E, bill B
			WHERE  E.order_no =B.order_no
			AND B.user_no =#{userNo}
	</select>

	
</mapper>


