<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.skip.www.dao.face.MyorderDao">

	


	<select id="selectList" parameterType="com.skip.www.util.Paging" resultType="com.skip.www.dto.ExOrderTicket">
		SELECT E.ex_order_ticket_no, E.ex_order_count, E.order_no, E.ex_no FROM ex_order_ticket E, bill B
		WHERE  E.order_no =B.order_no
			AND B.user_no =#{userNo}
	</select>


	<select id="selectCntAll" parameterType="int" resultType="int">
		SELECT count(*) FROM bill 
		WHERE user_no = #{userNo}
	</select>
	
	<select id="selectconList" parameterType="com.skip.www.util.Paging" resultType="com.skip.www.dto.ConOrderTicket">
		 SELECT C.con_order_ticket_no, C.order_no, C.seat_seq FROM con_order_ticket C, bill B
		WHERE  C.order_no =B.order_no
			AND B.user_no =#{userNo}
	</select>

	
</mapper>


