<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.skip.www.dao.face.MypageDao">

	<resultMap type="com.skip.www.dto.QnA" id="QnA">
		<id column="qna_no" property="qnaNo"/>
		<result column="user_no" property="userNo"/>
		<result column="qna_title" property="qnaTitle"/>
		<result column="qna_content" property="qnaContent"/>
		<result column="qna_date" property="qnaDate"/>
	</resultMap>

	<select id="selectByConUserLevelconuserlevelno" resultType="com.skip.www.dto.ConUserLevel" parameterType="int">
		SELECT C.con_user_level_no, C.user_level FROM con_user_level C, user_tb U
		WHERE C.con_user_level_no = U.con_user_level_no
			AND U.user_no =#{userNo}
	</select>
	
	<select id="selectByExUserLevelconuserlevelno" resultType="com.skip.www.dto.ExUserLevel" parameterType="int">
		SELECT E.ex_user_level_no, E.user_level FROM ex_user_level E, user_tb U
		WHERE E.ex_user_level_no = U.ex_user_level_no
			AND U.user_no =#{userNo}
	</select>
	
	<select id="selectUserinfo"  resultType="com.skip.www.dto.User" >
			SELECT*FROM user_tb
			WHERE user_no =#{userNo}
	</select>		
	
	<update id="updateUserInfo" parameterType="com.skip.www.dto.User">
		UPDATE user_tb
		SET   user_pw    =#{userPw} 
		       ,user_nick  =#{userNick} 
		       ,user_email =#{userEmail}
		       ,user_name  =#{userName}
		       ,user_telecom =#{userTelecom}
		       ,user_phone   =#{userPhone}
		WHERE
			   user_no =#{userNo}		
	</update>
			   
			   
			   	   
	<select id="selectcountUserInfo" resultType="int" parameterType="com.skip.www.dto.User">
		SELECT count(*) from user_tb
		WHERE user_no =#{userNo}
		 AND  user_pw =#{userPw}	
	</select>
	
	
	<delete id="deleteUserinfo" parameterType="com.skip.www.dto.User">
		DELETE user_tb
		WHERE user_no = #{userNo}
	</delete>
	
	
	<select id="selectCntByNick" resultType="int" parameterType="com.skip.www.dto.User">
	SELECT count(*)
	  FROM user_tb
	 WHERE user_nick = #{userNick}
	</select>
	
	<select id="selectCntByEmail" resultType="int" parameterType="com.skip.www.dto.User">
	SELECT count(*)
	  FROM user_tb
	 WHERE user_email = #{userEmail}
	</select>

	<select id="selectCntByRrn" resultType="int" parameterType="com.skip.www.dto.User">
	SELECT count(*)
	  FROM user_tb
	 WHERE user_rrn = #{userRrn}
	</select>

	<select id="selectCntByPhone" resultType="int" parameterType="com.skip.www.dto.User">
	SELECT count(*)
	  FROM user_tb
	 WHERE user_phone = #{userPhone}
	</select>
	
	<select id="selectList" parameterType="com.skip.www.util.Paging" resultType="com.skip.www.dto.QnA">
		SELECT * FROM (
			SELECT rownum rnum, Q.* FROM (
				SELECT
					qna_no,
					user_no,
					qna_title,
					qna_content,
					qna_date
				FROM qna
				where user_no = #{userNo}
				ORDER BY qna_no DESC
			) Q
		) QNA
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>

	<select id="select" resultMap="QnA" parameterType="com.skip.www.dto.QnA">
		SELECT
			qna_no, user_no ,qna_title, qna_content,qna_date
		FROM qna
		WHERE qna_no = #{qnaNo}
	</select>
	

	<select id="selectCntAll" parameterType="int" resultType="int">
		SELECT count(*) FROM qna
		WHERE user_no = #{userNo}
	</select>

	<insert id="insertQna" parameterType="com.skip.www.dto.QnA">
		<selectKey order="BEFORE" resultType="int" keyProperty="qnaNo">
			SELECT qna_no_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO qna ( qna_no, qna_title, qna_content, user_no  )
		VALUES ( #{qnaNo}, #{qnaTitle}, #{qnaContent}, #{userNo})
	</insert>

<insert id="insertQnaFile" parameterType="com.skip.www.dto.QnAFile">
		INSERT INTO qna_File ( qna_file_no, qna_no, qna_file_originname, qna_file_storedname )
		VALUES ( qna_file_no_seq.nextval, #{qnaNo}, #{qnaFileOriginName}, #{qnaFileStoredName} )
	</insert>


<select id="selectQnaFileByQnaNo" resultType="com.skip.www.dto.QnAFile" parameterType="com.skip.www.dto.QnA">
		SELECT
			qna_file_no qnaFileNo
			, qna_file_originname qnaFileOriginName
			, qna_file_storedname qnaFileStoredName
			, qna_no qnaNo
		FROM qna_File
		WHERE qna_no = #{qnaNo}
	</select>

<select id="selectQnaFileByQnaFileNo" resultType="com.skip.www.dto.QnAFile" parameterType="com.skip.www.dto.QnAFile">
		SELECT
			qna_file_no qnaFileNo
			, qna_file_originname qnaFileOriginName
			, qna_file_storedname qnaFileStoredName
			, qna_no qnaNo
		FROM qna_File
		WHERE qna_file_no = #{qnaFileNo}
	</select>

	<update id="update" parameterType="com.skip.www.dto.QnA">
		UPDATE qna
		SET qna_title = #{qnaTitle}
			, qna_content = #{qnaContent}
		WHERE qna_no = #{qnaNo}		
	</update>
	
	<delete id="deleteFile" parameterType="com.skip.www.dto.QnA">
		DELETE qna_file
		WHERE qna_no = #{qnaNo}
	</delete>
	
	<delete id="delete" parameterType="com.skip.www.dto.QnA">
		DELETE qna
		WHERE qna_no = #{qnaNo}
	</delete>
	
</mapper>