<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skip.www.dao.face.QnaDao">

	<resultMap type="com.skip.www.dto.QnA" id="Qna">
		<id column="qna_no" property="qnaNo"/>
		<result column="user_no" property="userNo"/>
		<result column="qna_title" property="qnaTitle"/>
		<result column="qna_content" property="qnaContent"/>
		<result column="qna_date" property="qnaDate"/>
	</resultMap>

	<select id="selectList" parameterType="com.skip.www.util.Paging" resultMap="Qna">
		SELECT * FROM (
			SELECT rownum rnum, Q.* FROM (
				SELECT
					qna_no,
					user_no,
					qna_title,
					qna_content,
					qna_date
				FROM qna
				WHERE qna_title LIKE '%' || #{search} || '%' 
				ORDER BY qna_no DESC
			) Q
		) QNA
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM QnA
		WHERE qna_title LIKE '%' || #{search} || '%' 
	</select>
	
	<select id="select" resultType="com.skip.www.dto.QnA" parameterType="com.skip.www.dto.QnA">
		SELECT 
			qna_no,
			user_no,
			qna_title,
			qna_content,
			qna_date
		FROM qna
		WHERE qna_no = #{qnaNo}
	</select>
	
	<insert id="insertQna" parameterType="com.skip.www.dto.QnA">
		<selectKey order="BEFORE" resultType="int" keyProperty="qnaNo">
				SELECT qna_no_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO QNA (qna_no, user_no, qna_title, qna_content)
		VALUES ( #{qnaNo}, #{userNo}, #{qnaTitle}, #{qnaContent} )
	</insert>
	
	<insert id="insertFile" parameterType="com.skip.www.dto.QnAFile">
		INSERT INTO QNA_FILE (qna_file_no, qna_file_origin_name, qna_file_stored_name, qna_no )
		VALUES (qna_file_no_seq.nextval, #{qnaFileOriginName}, #{qnaFileStoredName}, #{qnaNo} )
	</insert>
	
</mapper>

